{% extends "_layouts/cp" %}
{% set title = "Jobscore Import"|t %}
{# {% import "_includes/forms" as forms %} #}

{% set content %}

<section id="jobscorePage">

  {% if jobs|length %}
    <table id="forms" class="data fullwidth collapsible">
      <thead>
        <th scope="col">{{ "Department"|t }}</th>
        <th scope="col">{{ "Title"|t }}</th>
        <th scope="col">{{ "Last Udpated Date"|t }}</th>
        <th scope="col">{{ "Opened Date"|t }}</th>
        {# <th scope="col">{{ "Actions"|t }}</th> #}
        <td class="thin"></td>
      </thead>
      <tbody>
        {% for job in jobs %}
        <tr>
          <th>{{ job.department }}</th>
          <td>{{ job.title }}</td>
          <td>{{ job.jobDateCreate|date("m/d/Y") }}</td>
          <td>{{ job.jobDateUpdated|date("m/d/Y") }}</td>
          {# <td>View | Delete </td> #}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

    <form method="post" accept-charset="UTF-8" data-saveshortcut="1">
      {{ getCsrfInput() }}
      <input type="hidden" name="action" value="jobScore/syncJobs">
      <input type="hidden" name="redirect" value="jobscore/">
      <hr>

      <div class="buttons">
        <input type="submit" class="btn submit" value="{{ 'Sync Jobs'|t }}">
      </div>
    </form>

</section>
{% endset %}
